/*styles the container that will hold and adjust the header and the timeline according to the screen size*/
.responsive {
  display: flex;
  flex-direction: column;
  /*adds a distance from the top to accomodate the nav's fixed position*/
  padding-top: 120px;
}

/*
  Changes the layout according to the screen size. 
  A single column is presented for screen sizes below 1024, and two columns for screen size above.
*/
@media (min-width: 1024px) {
  .responsive {
    flex-direction: row;
  }

  .main-header {
    margin: 2em;
    width: 30vw;    
  }

  .container {
    padding: 2em;
    padding-top: 0.5em;
    width: 60vw;
  }

  nav {
    background-image: none;
    background-color: #4056A1;
  }
}