.timeline {
padding-top: 40px;
}

.tweet {
  display: flex;
  flex-direction: column;
  border: 3px;
  border-style: groove;
  border-color: black;
  padding: 1em;
  margin-bottom: 20px;
}

.tweet:hover {
  box-shadow: 8px 8px 1px rgb(206, 210, 219);
}

.tweet header {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweet header img{
  max-height: 50px;
  padding-right: 0.5em;
}

.tweet footer {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: small;
  padding: 1em;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: bold;
}

.tweet footer i {
  padding-right: 0.5em;
  color: #4056A1;
}

.tweet footer i:hover {
  color: darkgoldenrod;
}

.tweet-message {
  background: none;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom-width: 3px;
  border-bottom-style: groove;
  border-color: black;
  outline: none;
  resize: none;
  font-size: large;
  font-weight: bold;
  padding: 1em;
  width: 100%;
  margin: auto;
}

.tweet-user {
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.tweet-handle {
  color: rgb(206, 210, 219);
  font-weight: bold;
}
